@model List<cgpay.wallet.shared.Models.BulkUpload.BulkTopUpReceiptCommon>
@{
    ViewBag.Title = "GetErrorDataList";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header header-elements-inline">
        @*<h6 class="card-title">
                <b style="color:red">*</b><b> Note: Please fill out all the field stating *(Mandatory) </b>
            </h6>*@
    </div>
    <div class="card-body">
        <div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Subscriber Number</th>
                        <th>Amount</th>
                        <th>Product</th>
                        <th>Status</th>
                        <th>Commission</th>
                        <th>Remarks</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@Html.Raw(item.SubscriberNumber)</td>
                            <td>@Html.Raw(item.Amount)</td>
                            <td>@Html.Raw(item.Product)</td>
                            <td>@Html.Raw(item.Status)</td>
                            <td>@Html.Raw(item.AgentCommission)</td>
                            <td>@Html.Raw(item.Remark)</td>
                            <td>@Html.Raw(item.TransactionCreatedDate)</td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div>
            <a href="@Url.Action("Index","BulkUpload")" class="btn btn-primary mt-2">Continue</a>
           
            <a href="@Url.Action("BulkTopUpReceiptList","BulkUpload",new { ViewBag.ProcessId })" class="btn btn-success mt-2 float-right">Refresh</a>
           
        </div>


    </div>
</div>