@model cgpay.wallet.application.Models.DynamicReportModel

@{
    ViewBag.Title = "PrintTransactionResult";
    Layout = "~/Areas/Client/Views/Shared/_print_layout.cshtml";
}

<link href="~/Content/receipt/css/receipt.css" rel="stylesheet" />
<div class="card">
    <div class="card-body">
        <div>
            <div class="info-card" id="printMe">
                <div class="info-card-body">
                    <div class="text-center">
                        <img src="~/Content/receipt/images/check.png" alt="">
                    </div>
                    <br />
                    <h2>Transaction Complete</h2>
                    <p>
                        Your @Model.Company Topup has been <br> succcessfully completed.
                    </p>
                    <h2>Rs. @Model.Amount</h2><br>
                    <table width="100%" class="card-table">

                        <tr>
                            <td width="45%" height="30" align="right">Date &amp; Time</td>
                            <td width="10%" height="30"></td>
                            <td width="45%" height="30" align="left">@Model.CreatedLocalDate</td>
                        </tr>


                        <tr>
                            <td width="45%" height="30" align="right">Subscriber Number</td>
                            <td width="10%" height="30"></td>
                            <td width="45%" height="30" align="left">@Model.SubscriberNo</td>
                        </tr>

                        <tr>
                            <td width="45%" height="30" align="right">Amount</td>
                            <td width="10%" height="30"></td>
                            <td width="45%" height="30" align="left">NPR. @Model.Amount</td>
                        </tr>

                        <tr>
                            <td width="45%" height="30" align="right">Bonus</td>
                            <td width="10%" height="30"></td>
                            <td width="45%" height="30" align="left">NPR. @Model.BonusAmount</td>
                        </tr>

                        <tr>
                            <td width="45%" height="30" align="right">Service Charge</td>
                            <td width="10%" height="30"></td>
                            <td width="45%" height="30" align="left">NPR. @Model.ServiceCharge</td>
                        </tr>


                        <tr>
                            <td width="45%" height="30" align="right">Product Name</td>
                            <td width="10%" height="30"></td>
                            <td width="45%" height="30" align="left">@Model.ProductName</td>
                        </tr>

                        <tr>
                            <td width="45%" height="30" align="right">Company</td>
                            <td width="10%" height="30"></td>
                            <td width="45%" height="30" align="left">@Model.Company</td>
                        </tr>


                        <tr>
                            <td width="45%" height="30" align="right">Company ID</td>
                            <td width="10%" height="30"></td>
                            <td width="45%" height="30" align="left">@Model.CompanyId</td>
                        </tr>


                        @*<tr>
                                <td width="45%" height="30" align="right">Created By</td>
                                <td width="10%" height="30"></td>
                                <td width="45%" height="30" align="left">@Model.CreatedBy</td>
                            </tr>*@


                        <tr>
                            @if (@Session["UserType"].ToString().ToUpper() == "WALLETUSER")
                            {
                                <td width="45%" height="30" align="right">Cash Back</td>
                            }
                            @if (@Session["UserType"].ToString().ToUpper() != "WALLETUSER")
                            {
                                <td width="45%" height="30" align="right">Agent Commission</td>
                            }
                            <td width="10%" height="30"></td>
                            <td width="45%" height="30" align="left">NPR. @Model.AgentCommission</td>
                        </tr>


                        <tr>
                            <td width="45%" height="30" align="right">Transaction Reward Point</td>
                            <td width="10%" height="30"></td>
                            <td width="45%" height="30" align="left">@Model.TxnRewardPoint</td>
                        </tr>

                        <tr>
                            <td width="45%" height="30" align="right">Transaction ID</td>
                            <td width="10%" height="30"></td>
                            <td width="45%" height="30" align="left">@Model.TxnId</td>
                        </tr>

                        <tr>
                            <td width="45%" height="30" align="right">Agent ID</td>
                            <td width="10%" height="30"></td>
                            <td width="45%" height="30" align="left">@Model.AgentId</td>
                        </tr>


                        <tr>
                            <td width="45%" height="30" align="right">Remarks</td>
                            <td width="10%" height="30"></td>
                            <td width="45%" height="30" align="left">@Model.AdminRemarks</td>
                        </tr>

                    </table>
                </div>
            </div>
            <br />
        </div>
    </div>

</div>


<script>
    document.addEventListener('DOMContentLoaded',
        () => {
            var printContents = document.getElementById('printMe').innerHTML;
            var originalContents = document.body.innerHTML;
            document.title='Transaction @Model.TxnId';

            // document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
            window.onafterprint = function (event) {
                history.go(-1);
                window.close();
            };
        });
</script>


